
body {
 
  background-image: url('ezgif.com-video-to-gif-converter.gif');
  
}

html {
  
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: # F7F2DC;
}

p, li {
  margin: 0;
  padding: 20px 0;
  color: # F7F2DC;
  text-shadow: 3px 3px 1px black;
}


 

h1 {
  margin: 0;
  padding: 20px 0;
  color: # F7F2DC;
  text-shadow: 3px 3px 1px black;
}

img {
  width: 300px; 
  height: auto; 
}
